<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <title>500px 图片浏览效果实现</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.js"></script>
</head>

<body ng-controller="ctrl">
  <section>
    <div class="item" ng-repeat="img in imgs" ng-click="show(img)"
      style="width: {{img.width * 200 / img.height}}px;flex-grow: {{img.width * 200 / img.height}}">
      <i style="padding-bottom: {{img.height / img.width * 100}}%"></i>
      <img ng-src="{{img.url}}" alt="">
      <div class="detail">{{img.width}} x {{img.height}}</div>
    </div>
  </section>
  <div class="popup" style="width: {{checkedImg.width * 500 / checkedImg.height}}px" ng-show="showPopup">
    <i style="padding-bottom: {{checkedImg.height / checkedImg.width * 100}}%"></i>
    <img ng-src="{{checkedImg.url}}" alt="">
  </div>
  <div class="mask" ng-show="showPopup" ng-click="close()"></div>
</body>
<script src="js/index.js"></script>

</html>
